:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario : #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
  width: 120rem;
  /*margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;*/
  margin: 0 auto;
}

.navegacion-principal {
    background-color: var(--secundario);
    justify-content: space-between;
    display: flex;
    /*justify-content es para las filas(row) align-item es para las columnas*/
    font-size: 2rem;
    font-weight: bold;
    flex-direction: column;
}

.nav-bg {
    background-color: var(--secundario);
    
}

.navegacion-principal a{
   color: var(--blanco);
   text-decoration: none;
   padding:  1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color:  var(--oscuro);
}
@media (min-widht:768 px) {
    .navegacion-principal{
        flex-direction: row;
    }
 
    }







